.body{
  width: 80vw;
  margin: 0 auto;
}

.hamburger {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 300;
  background-color: blue;
  border-radius: 5px;
  box-shadow:1px 1px 5px rgb(138, 138, 138);
}

.hamburger__line {
  position: absolute;
  left: 7px;
  width: 40px;
  height: 1px;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s;
}

.hamburger__line--1 {
  top: 10px;
  width: 8px;
}

.hamburger__line--2 {
  top: 15px;
  width: 15px;
}

.hamburger__line--3 {
  top: 20px;
  width: 3px;
}

/*ハンバーガーがクリックされたら*/
.open .hamburger__line--1 {
  transform: rotate(-45deg);
  left: 7px;
  top: 15px;
  width: 15px;
}

.open .hamburger__line--2 {
  opacity: 0;
}

.open .hamburger__line--3 {
  transform: rotate(45deg);
  left: 7px;
  top: 15px;
  width: 15px;
}

/*
sp-nav(ナビ)
=================================== */
.sp-nav {
  position: fixed;
  left: -100%; /*ハンバーガーがクリックされる前はWindow右側に隠す*/
  top: 0;
  width: 100vw; /* 出てくるスライドメニューの幅 */
  height: 100vh;
  background-color: #fff;
  transition: all 0.5s;
  z-index: 200;
  overflow-y: auto; /* メニューが多くなったらスクロールできるように */
}

/*ハンバーガーがクリックされたら右からスライド*/
.open .sp-nav {
  left: 0;
  text-align: center;
}

.open .sp-nav li{
  position: relative;
  top: 45vh;
  vertical-align: middle;
  margin-bottom: 20px;
  text-decoration: none;
}

.open .sp-nav li a{
  font-size: 20px;
}
/*
black-bg(ハンバーガーメニュー解除用bg)
=================================== */
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 100;
}

/*ハンバーガーメニューが開いたら表示*/
.open .black-bg {
  opacity: 0.3;
  visibility: visible;
}

.header{
  display: flex;
  margin: 10px 0 30px;
}


.navbar-brand {
  display: inline-block;
  padding-top: 0.32rem;
  padding-bottom: 0.32rem;
  margin-right: 1rem;
  font-size: 1.125rem;
  line-height: inherit;
  white-space: nowrap;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  color: blue;
}
.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}

.contents {
  margin: 100px auto 0;
  box-shadow: rgb(77, 77, 77) 1px 1px 3px;
  border-radius: 3px;
  width: 35%;
  height: 35vh;
}
.contents-item {
  align-items: center;
  width: 90%;
  margin: 0 auto ;
  padding: 70px 0;
  text-align: center;
}
.contents-txt {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 40px;
}

.contents-back {
  background-color: blue;
  color: #fff;
  padding: 5px 13px;
  border-radius: 5px;
}
